---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Team MapleByte for G20 Disaster Risk Reduction (DRR) Hackathon 2025</h1>
    <p>This is our team blog providing an overview of our hackathon results, and a log/deep dive of the issues and challenges we encountered.</p>
    <p>
      This website content is available under Attribution-NonCommercial-ShareAlike 4.0 International license at <a
        target="_blank"
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/">https://creativecommons.org/licenses/by-nc-sa/4.0/</a
      >.
    </p>
    <p>
      <img width="640" height="360" src="/hero.jpg" alt="Hero Image" />
    </p>
    <p>Here are the workstreams we followed:</p>
    <ul>
      <li><a href="/blog/0">0: Overall Approach &amp; Results</a></li>
      <li><a href="/blog/1">1: Settlement Detection</a></li>
      <li><a href="/blog/2">2: Settlement Growth</a></li>
      <li><a href="/blog/3">3: Flood Risk</a></li>
      <li><a href="/blog/4">4: Stakeholder Policy, Awareness & Outreach</a></li>
      <li><a href="/blog/5">5: Team blog (this website)</a></li>
    </ul>
    <hr class="hr-line" />
    <p>Find our code on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a aria-label={link.text} href={link.href} target="_blank" class="prose-link">
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <!--<p>
      If you have any questions, please email us at
      <a prose-link aria-label={siteConfig.email} href={`mailto:${siteConfig.email}`}>
        {siteConfig.email}
      </a>.
    </p> -->
    <hr class="hr-line" />
    <p>
      This website uses Astro.JS and a custom theme called Astro-Vitesse by Kieran Wang. Visit it
      <a target="_blank" href="https://github.com/kieranwv/astro-theme-vitesse"> on GitHub </a>
      to fork the repository, read the docs or one-click deploy on Netlify. If you like Vitesse theme for Astro, please
      <a target="_blank" href="https://github.com/kieranwv"> click to follow him</a>.
    </p>
  </article>
</BaseLayout>
