---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Team MapleByte for G20 Disaster Risk Reduction (DRR) Hackathon 2025</h1>
    <img style="margin-left: -150px;margin-top: -145px;" width="120" height="120" src="/G20_DRR_logo.webp" alt="G20 DRR Logo (unofficial)" />
    <p>
      <img width="640" height="360" src="/hero_compressed.webp" alt="Flooding water eroding a river bank next to a road." />
    </p>
    <p>South Africa is currently chair of the G20 group of countries. They hosted a G20 Open Innovation Demonstrator Project on Disaster Risk Reduction (DRR) from September 2 to 5, 2025. </p>
    <p>The hackathon <em>"...forms part of one of the proposed deliverables for the G20 Research and Innovation Working Group (RIWG) in 2025, namely to implement a Demonstrator Project under the broader theme of Disaster Risk Reduction using Open Innovation (DRR-OI). The G20 DRR-OI initiative aims to harness digital technologies, shared data systems, and collaborative problem-solving to enhance global resilience to disasters, particularly in water-stressed and climate-vulnerable regions."</em> (G20 Hackathon Organizer's Concept Note)</p>    
    <h2>Team MapleByte, representing Canada</h2>
    <img style="float: right; margin-left: 10px; margin-top: 60px; margin-bottom: 8px;" width="150" height="150" src="/team_maplebyte_logo.webp" alt="Team MapleByte Logo" />
    <p>This is our team blog providing an overview of our hackathon results, and a log/deep dive of the issues and challenges we encountered. Our members:</p>
    <ul>
      <li>Benedicta Antwi Boasiako</li>
      <li>Heather McGrath</li>
      <li>Mikhail Sokolov</li>
      <li>Nicholas Kellett</li>
      <li>Yosef Gonzalez Samudio</li>      
    </ul>
    <hr class="hr-line" />    
    <h2>Area of Interest</h2>
    <p>We selected an informal settlement centred on <a href="https://maps.app.goo.gl/7fadAFBqjgFrtHAX9" title="View on Google Maps">Quarry Road / N2 Interchange Umgeni</a> in Durban, South Africa.
    <a href="https://maps.app.goo.gl/7fadAFBqjgFrtHAX9" title="View on Google Maps"><img src="/google_map_quarry_road_aoi_compressed.webp" alt="Picture of the area shown on Google Maps" /></a></p>
    <p>We used this as our baseline because an excellent article, "A Perfect Storm" published in the Outlier gave us great insight into the suffering and issues caused by a historic April 2022 flood.</p>
    <p>We could therefore compare our research efforts and findings against this real world example, in the hopes that future refinements of our results might one day help people living in informal settlements and affected by flooding - like those near Quarry Road.</p>
    <h2>Workstreams</h2>
    <p>We divided the work up into parallel streams of activity, each led by a team member:</p>
    <ul>
      <li><a href="/blog/0">0: Overall Approach &amp; Results</a></li>
      <li><a href="/blog/1">1: Settlement Detection (Mikhail)</a></li>
      <li><a href="/blog/2">2: Settlement Growth (Benedicta)</a></li>
      <li><a href="/blog/3">3: Flood Risk (Heather)</a></li>
      <li><a href="/blog/4">4: Stakeholder Policy, Awareness & Outreach (Yosef)</a></li>
      <li><a href="/">5: Team blog / websites (Nick)</a></li>
    </ul>
    <h2>Results</h2>
    <p>Below we show one of our results - a predicted flood extents during a future flood event and the potential risk to settlements in the area (now or in the future). We added callouts to make it easier to spot areas that could be potential flood risks under current and future settlement growth scenarios.</p>
    <img src="/flood_risk_map_with_callout_areas.webp" alt="Flood Risk Map with Callout Areas of heightened risk" />
    <p>View our team's <a href="/posts/0/results">overall results</a>.</p>
    <p>What if <a href="/posts/0/more-time">we had more time...?</a>.</p>
    <p>Find our code on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a aria-label={link.text} href={link.href} target="_blank" class="prose-link">
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <!--<p>
      If you have any questions, please email us at
      <a prose-link aria-label={siteConfig.email} href={`mailto:${siteConfig.email}`}>
        {siteConfig.email}
      </a>.
    </p> -->
    <hr class="hr-line" />    
    <h2>With Thanks & Recognition</h2>  
    <ul>
      <li>The G20 DRR Hackathon organizers and volunteers for their tireless efforts to champion, promote, organize and run the hackathon.</li>
      <li>Digital Earth Africa for hosting the data, sandbox tools, and providing training and support on their platform</li>
      <li>Data providers including ESRI, ESA, OpenStreetMap, and NASA/USGS Landsat for providing data products and Jupyter Notebook and QGIS communities for their tools</li>
      <li>Writer Leonie Joubert with support from Laura Grant, Gemma Ritchie, Gemma Gatticchi, Alastair Otter, Ciaran Otter, Tanya Pampalone, and Internews' Earth Journalism Network for producing the article "A Perfect Storm" in the Outlier published on 1 May 2023.</li>
      <!--<li>The Science Policy Branch, Science and Research Sector of Innovation, Science and Economic Development Canada (ISED) for providing team formation assistance and logistical support.</li>
       -->
      <li>Open source contributors for their invaluable tools and libraries</li>
    </ul>
    <hr class="hr-line" />    
    <p>
      This website content is available under Creative Commons Attribution-ShareAlike 4.0 International license at <a
        target="_blank"
        href="https://creativecommons.org/licenses/by-sa/4.0/">https://creativecommons.org/licenses/by-sa/4.0/</a
      >.
    </p>
    <p>
      We use <a target="_blank" href="https://astro.build/" title="Astro framework website">Astro</a> framework, and a custom theme called Astro-Vitesse by <a target="_blank" href="https://github.com/kieranwv" title="GitHub profile for Kieran Wang">Kieran Wang</a>. Visit
      <a target="_blank" href="https://github.com/kieranwv/astro-theme-vitesse" title="Astro Vitesse theme repository on GitHub">Astro-Vitesse on GitHub </a>
      to fork the repository, read the docs or one-click deploy on Netlify. 
    </p>
  </article>
</BaseLayout>
