---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Team MapleByte for G20 Disaster Risk Reduction (DRR) Hackathon 2025</h1>
    <p>South Africa is currently chair of the G20 group of countries. They hosted a G20 Open Innovation Demonstrator Project on Disaster Risk Reduction (DRR) from September 2 to 5, 2025. </p>
    <p>The hackathon <em>"...forms part of one of the proposed deliverables for the G20 Research and Innovation Working Group (RIWG) in 2025, namely to implement a Demonstrator Project under the broader theme of Disaster Risk Reduction using Open Innovation (DRR-OI). The G20 DRR-OI initiative aims to harness digital technologies, shared data systems, and collaborative problem-solving to enhance global resilience to disasters, particularly in water-stressed and climate-vulnerable regions."</em> (G20 Hackathon Organizer's Concept Note)</p>
    <p>This is our team blog providing an overview of our hackathon results, and a log/deep dive of the issues and challenges we encountered.</p>
    <p>
      This website content is available under Attribution-NonCommercial-ShareAlike 4.0 International license at <a
        target="_blank"
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/">https://creativecommons.org/licenses/by-nc-sa/4.0/</a
      >.
    </p>
    <p>
      <img width="640" height="360" src="/hero.jpg" alt="Hero Image" />
    </p>
    <h2>Workstreams</h2>
    <p>We divided the work up into streams of activity, each led by a team member:</p>
    <ul>
      <li><a href="/blog/0">0: Overall Approach &amp; Results</a></li>
      <li><a href="/blog/1">1: Settlement Detection</a></li>
      <li><a href="/blog/2">2: Settlement Growth</a></li>
      <li><a href="/blog/3">3: Flood Risk</a></li>
      <li><a href="/blog/4">4: Stakeholder Policy, Awareness & Outreach</a></li>
      <li><a href="/blog/5">5: Team blog (this website)</a></li>
    </ul>
    <hr class="hr-line" />
    <h2>Results</h2>
    View our team's <a href="/posts/0/results">Overall results</a>.
    <p>Find our code on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a aria-label={link.text} href={link.href} target="_blank" class="prose-link">
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <!--<p>
      If you have any questions, please email us at
      <a prose-link aria-label={siteConfig.email} href={`mailto:${siteConfig.email}`}>
        {siteConfig.email}
      </a>.
    </p> -->
    <hr class="hr-line" />
    <p>
      This website uses <a target="_blank" href="https://astro.build/" title="Astro framework website">Astro</a> framework, and a custom theme called Astro-Vitesse by <a target="_blank" href="https://github.com/kieranwv" title="GitHub profile for Kieran Wang">Kieran Wang</a>. Visit
      <a target="_blank" href="https://github.com/kieranwv/astro-theme-vitesse" title="Astro Vitesse theme repository on GitHub">Astro-Vitesse on GitHub </a>
      to fork the repository, read the docs or one-click deploy on Netlify. 
    </p>
  </article>
</BaseLayout>
